streamlit==1.18.0
torch==2.0.1
torchvision==0.15.2
numpy==1.24.2
pandas==1.5.3
Pillow==9.5.0
scikit-learn==1.2.2
ultralytics==8.0.80
opencv-python==4.5.5.62  # 替换为 opencv-python 而不是 opencv-python-headless
matplotlib==3.7.1
altair==4.2.2
